* {
    box-sizing: border-box;
}

/*heading*/

.jumbotron {
    text-align: center;
    border: 4px solid black;
    box-shadow: 4px 4px 14px 14px black;
    border-radius: 0 !important;
    background-color: white !important;
    margin-bottom: 60px !important;
}

/*scheduler*/

.table {
    width: 100vw !important;
    height: 100vh !important;
    max-width: 900px !important;
    margin-left: auto !important;
    margin-right: auto !important;
    top: 0 !important;
    bottom: 0 !important;
}

/*the times*/
th {
    border: 1px solid white !important;
    width: 15px !important;
    text-align: center !important;
    padding: 25px !important;
}

