* {
    box-sizing: border-box;
    left: 0;
    margin: 0;
}

/* background */
#background {
    width: 100%;
    height: 145vh;
    object-fit: cover;
}

/*heading*/
.jumbotron {
    text-align: center;
    position: absolute;
    z-index: 999;
    top: 0;
    width: 100%;
    border: none !important;
    background: none !important;
    margin-bottom: 10px !important;
    color: white !important;
}

.display-4,
.day {
    font-weight: bolder !important;
}

.day {
    font-size: 25px !important;
    margin-bottom: -5px;
}

hr {
    background-color: white !important;
}

/*scheduler*/
.table {
    width: 100% !important;
    height: 100% !important;
    max-width: 1000px !important;
    /* margin-left: auto !important;
    margin-right: auto !important; */
    left: 16.5%;
    top: 35% !important;
    background-color: black !important;
    position: absolute;
    
}

@media (max-width: 200px) {
    /* For mobile phones: */
    .table {
      width: 100% !important;
    }
  }

/*the times*/
th {
    border: 1px solid white !important;
    width: 15px !important;
    text-align: center !important;
    padding: 35px !important;
}

/*the input space*/
.event { 
    border: 1px solid white !important;
    width: 0px !important;
}

.words {
    width: 755px !important;
    padding: 20px !important;
    background-color: black;
    border: none;
    color: white;
}

.words:hover {
    border: 1px solid white;
}

/*clipboard*/
.save {
    width: 15px !important;
    border: 1px solid white !important;
    padding: 25px !important;
}

.btn {
    object-position: center !important;
    top: 0 !important;
    bottom: 0 !important;
    margin-left: auto !important;
    margin-right: auto !important;
    display: block !important;
}

.btn:hover {
    opacity: 0.5;
}